[MESSAGES CONTROL]
disable=imports,
        too-few-public-methods,
        too-many-instance-attributes,
        too-many-arguments,
        too-many-positional-arguments,
        too-many-locals

[MASTER]
ignore=tests
ignore-patterns=test_.*\.py
